$clr-orange: hsl(22 65% 57%);
$clr-orange-light: hsl(21 94% 75%);

$clr-black: hsl(0 0% 0%);
$clr-black-light: hsl(0 0% 6%);

$clr-white: hsl(0 0% 100%);

$clr-gray: hsl(0 0% 95%);
$clr-gray-light: hsl(0 0% 98%);
